<h1>Editing scaffolding</h1>

<%= render "form", scaffolding: @scaffolding %>

<br>

<div>
  <%= link_to "Show this scaffolding", @scaffolding %> |
  <%= link_to "Back to scaffoldings", scaffoldings_path %>
</div>
